
.main{
	width:200px;
	background-color:purple;
	padding:10px;
	
}
.heading{
	font-size:20px;
	color:white;
	text-decoration:underline;
}
#heading{
	border: 1px solid green;
	width:2px;
	background-color:green;
}